In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv("https://raw.githubusercontent.com/Code-Institute-Solutions/CSV-datasets/refs/heads/main/UKMacroData.csv")
df

,Date,GDP (£ m),CPI,Bank Rate,Gross Fixed Capital Formation (Investments)
0,2000 Q1,401242,1.1,5.875,69114.0
1,2000 Q2,404196,1.0,6.000,73074.0
2,2000 Q3,406795,1.2,6.000,68011.0
3,2000 Q4,409411,1.4,6.000,70115.0
4,2001 Q1,413054,1.3,5.750,70186.0
...,...,...,...,...,...
91,2022 Q4,568034,9.4,3.250,106689.0
92,2023 Q1,569336,9.0,4.125,109290.0
93,2023 Q2,569364,7.7,4.750,108245.0
94,2023 Q3,568655,6.3,5.250,106496.0
95,2023 Q4,566695,4.4,5.250,NaN

In [29]:
df.index

RangeIndex(start=0, stop=96, step=1)

In [30]:
print(df.columns)

Index(['Date', 'GDP (£ m)', 'CPI', 'Bank Rate',
       'Gross Fixed Capital Formation (Investments)'],
      dtype='object')

In [31]:
df.set_index(['Date'],inplace=True)  # maybe good to set the date as the index

In [32]:
df

,GDP (£ m),CPI,Bank Rate,Gross Fixed Capital Formation (Investments)
Date,,,,
2000 Q1,401242,1.1,5.875,69114.0
2000 Q2,404196,1.0,6.000,73074.0
2000 Q3,406795,1.2,6.000,68011.0
2000 Q4,409411,1.4,6.000,70115.0
2001 Q1,413054,1.3,5.750,70186.0
...,...,...,...,...
2022 Q4,568034,9.4,3.250,106689.0
2023 Q1,569336,9.0,4.125,109290.0
2023 Q2,569364,7.7,4.750,108245.0
2023 Q3,568655,6.3,5.250,106496.0
2023 Q4,566695,4.4,5.250,NaN